.w3-tangerine {
    font-family: 'Tangerine', serif;
    font-size: 64px;
  }
  .w3-lobster {
    font-family: 'Lobster', serif;
    font-size: 48px;
  }
  .w3-allerta {
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 48px;
  }
  .w3-roboto {
    font-family: 'Roboto', Sans-serif;
    font-size: 48px;
  }
  .w3-sofia {
    font-family: "Sofia", cursive;
    font-size: 48px;
  }