body {
    background-color: #1d2a35;
    color: #fff;
}

hr {
    border-top: 1px solid #5c6872;
    margin: 20px;
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

.fa {
    display:inline-block;
    font:normal normal normal 14px/1 fontawesome;
    font-size:inherit;
    text-rendering:auto;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    transform:translate(0, 0);
}
.fa-2x {
    font-size:2em;
}
.fa-search:before {
    content:'\e802';
 }

.demodots {
    height: 13px;
    width: 13px;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
}

.animTest {
    font-size: 40px;
    padding: 64px;
    color: red;
    margin: 0 50px;
}

.ws-table-all {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table;
    border: 1px solid #38444d;
}

.ws-table-all tr:nth-child(odd) {
    background-color: #1d2a35;
    color: #ddd;
}

.ws-table-all tr:nth-child(even) {
    background-color: #38444d;
    color: #ddd;
}

.ws-table-all tr {
    border-bottom: 1px solid #38444d;
}

.ws-table-all td:first-child {
    padding-left: 16px;
}

.ws-table-all th {
    padding: 8px 8px;
    display: table-cell;
    text-align: left;
    vertical-align: top;
}

.w3-tangerine {
    font-family: 'Tangerine', serif;
    font-size: 64px;
    }

.w3-lobster {
    font-family: 'Lobster', serif;
    font-size: 48px;
}

.darkpagetheme {
    background-color: #FFF4A3;
    color: #000;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-left: -32px;
    margin-right: -32px;
    padding: 16px 32px;
}

.headerTop {
    margin-top: 20px;
}
  
